@page "/EntradasHuacales/Create"
@inject EntradaHuacalesService entradasHuacalesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Crear Entrada de Huacal</PageTitle>
<EditForm Model="EntradasHuacales" OnValidSubmit="Guardar" FormName="CrearEntradaHuacal">
	<DataAnnotationsValidator/>

	<div class="container">
		<div class="card-header text-center">
			<h5 class="card-title">Crear Entrada de Huacal</h5>
		</div>

		<div class="card-body">
			<div class="mb-3">
				<label class="form-label">Fecha</label>
				<InputDate class="form-control" @bind-Value="EntradasHuacales.Fecha"></InputDate>
				<ValidationMessage For="(() => EntradasHuacales.Fecha)" />
			</div>

			<div class="mb-3">
				<label class="form-label">IdEntrada</label>
				<InputNumber class="form-control bg-light text-secondary" @bind-Value="EntradasHuacales.IdEntrada" readonly></InputNumber>
				<ValidationMessage For="(() => EntradasHuacales.IdEntrada)"/>
			</div>

			<div class="mb-3">
				<label class="form-label">NombreCliente</label>
				<InputText class="form-control" @bind-Value="EntradasHuacales.NombreCliente"></InputText>
				<ValidationMessage For="(() => EntradasHuacales.NombreCliente)"/>
			</div>

			<div class="mb-3">
				<label class="form-label">Cantidad</label>
				<InputNumber class="form-control" @bind-Value="EntradasHuacales.Cantidad"></InputNumber>
				<ValidationMessage For="(() => EntradasHuacales.Cantidad)"/>
			</div>

			<div class="mb-3">
				<label class="form-label">Precio</label>
				<InputNumber class="form-control" @bind-Value="EntradasHuacales.Precio"></InputNumber>
				<ValidationMessage For="(() => EntradasHuacales.Precio)"/>
			</div>

			<div class="mb-3">
				<label class="form-label">Importe</label>
				<input class="form-control bg-light text-secondary" Value="@(EntradasHuacales.Cantidad* EntradasHuacales.Precio)" readonly />
			</div>

			@if (!string.IsNullOrWhiteSpace(errorMensaje))
			{
				<div class="alert alert-danger">@errorMensaje</div>
			}
		</div>

		<div class="card-footer text-center">
			<a href="/EntradasHuacales/Index" class="btn btn-secondary">
				<span class="bi bi-arrow-left"></span> Volver	
			</a>

			<button type="submit" class="btn btn-primary bi bi-save"> Guardar</button>
		</div>
	</div>
</EditForm>

@code {
	public EntradasHuacales EntradasHuacales { get; set; } = new EntradasHuacales();
	public string errorMensaje {get;set;} = string.Empty;

	public async Task Guardar()
	{
		var creado = await entradasHuacalesService.Guardar(EntradasHuacales);

		if (creado)
		{
			navigationManager.NavigateTo("/EntradasHuacales/Index");
		}
		else
		{
			errorMensaje = "No se pudo registrar la entrada correctamente.";
		}
	}
}
